<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>ProdigyHire | Change Password</title>

  <!-- Stylesheets -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  <style>
    /* For webkit browsers like Chrome and Safari */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <%- include("../components/DashboardHeader") -%>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <%- include("../components/DashboardSidebar", { path: "/dashboard-change-password" }) -%>


    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Change Password</h3>
          <div class="text">Ready to jump back in?</div>
        </div>

        <!-- Ls widget -->
        <div class="ls-widget">
          <div class="widget-title">
            <h4>Change Password</h4>
          </div>

         <!-- ... existing code ... -->
<!-- Alert container -->
<div class="alert-container">
    <% if (successMessage && successMessage.length > 0) { %>
        <div class="alert alert-success">
            <%= successMessage %>
        </div>
    <% } %>
  
    <% if (errorMessage && errorMessage.length > 0) { %>
        <div class="alert alert-danger">
            <%= errorMessage %>
        </div>
    <% } %>
  </div>
  
        <div class="widget-content">
            <form action="/change-password" method="post" class="default-form">
                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>Old Password </label>
                  <input type="password" name="oldPassword" placeholder="">
                </div>
              
                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>New Password</label>
                  <input type="password" name="newPassword" placeholder="">
                </div>
              
                <!-- Input -->
              <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" placeholder="">
                </div>
  
                <!-- Input -->
                <div class="form-group col-lg-6 col-md-12">
                  <button type="submit" class="theme-btn btn-style-one">Update</button>
                </div>
              </form>
              
              
        </div>
        
        <!-- ... existing code ... -->
  
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2021 Superio. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/chosen.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery.fancybox.js"></script>
  <script src="/javascripts/jquery.modal.min.js"></script>
  <script src="/javascripts/mmenu.polyfills.js"></script>
  <script src="/javascripts/mmenu.js"></script>
  <script src="/javascripts/appear.js"></script>
  <script src="/javascripts/ScrollMagic.min.js"></script>
  <script src="/javascripts/rellax.min.js"></script>
  <script src="/javascripts/owl.js"></script>
  <script src="/javascripts/wow.js"></script>
  <script src="/javascripts/script.js"></script>

</body>


</html>