<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>ProdigyHire</title>

  <!-- Stylesheets -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/responsive.css" rel="stylesheet">


  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body data-anm=".anm">

  <div class="page-wrapper">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->

    <!-- Main Header-->
    <header class="main-header -type-11">
      <!-- Main box -->
      <div class="main-box">
        <!--Nav Outer -->
        <div class="nav-outer">
          <div class="logo-box">
            <div class="logo"><a href="index.html"><img src="images/logo-2.svg" alt="" title=""></a></div>
          </div>

          <nav class="nav main-menu">
            <ul class="navigation" id="navbar">
              <li class="current">
                <span>Home</span>
              </li>

              <li class=" has-mega-menu" id="has-mega-menu">
                  <a href="/joblist">
                    <span>Find Jobs</span>
                  </a>
              </li>

              <li class="">
                <a href="/employers">
                  <span>Employers</span>
                </a>
              </li>
              <li class="">
                <a href="/candidates">
                  <span>Candidates</span>
                </a>
              </li>

              <li class="dropdown">
                <span>Pages</span>
                <ul>
                  <li><a href="about.html">About</a></li>
                  <li><a href="/faq">FAQ's</a></li>
                  <li><a href="terms.html">Terms</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </li>

              <!-- Only for Mobile View -->
              <li class="mm-add-listing">
                <a href="add-listing.html" class="theme-btn btn-style-one">Job Post</a>
                <span>
                  <span class="contact-info">
                    <span class="phone-num"><span>Call us</span><a href="tel:1234567890">123 456 7890</a></span>
                    <span class="address">329 Queensberry Street, North Melbourne VIC <br>3051, Australia.</span>
                    <a href="mailto:support@superio.com" class="email">support@superio.com</a>
                  </span>
                  <span class="social-links">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                  </span>
                </span>
              </li>
            </ul>
          </nav>
          <!-- Main Menu End-->
        </div>

        <div class="outer-box">
          <!-- Login/Register -->
          <div class="btn-box">
            <a href="/login-popup" class="theme-btn btn-style-three btn-white-10 call-modal">Login / Register</a>
            <a href="dashboard-post-job.html" class="theme-btn btn-style-one btn-white"><span class="btn-title">Job Post</span></a>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
            </div>

            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Banner Section-->
    <section class="banner-section -type-11">
      <div class="auto-container">
        <div class="row">
          <div class="content-column col-xl-7 col-lg-8">
            <div class="inner-column">
              <div class="title-box wow fadeInUp" data-wow-delay="300ms">
                <h3>There Are 93,178 Postings Here For you!</h3>
                <div class="text text-white">Find Jobs, Employment & Career Opportunities</div>
              </div>

              <!-- Job Search Form -->
              <div class="job-search-form wow fadeInUp" data-wow-delay="600ms">
                <form method="post" action="https://creativelayers.net/themes/superio/job-list-v10.html">
                  <div class="row">
                    <div class="form-group col-lg-5">
                      <span class="icon flaticon-search-1"></span>
                      <input type="text" name="field_name" placeholder="Job title, keywords, or company">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-4 location">
                      <span class="icon flaticon-map-locator"></span>
                      <input type="text" name="field_name" placeholder="City or postcode">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-3 btn-box">
                      <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Find Jobs</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Job Search Form -->

              <!-- Popular Search -->
              <div class="popular-searches wow fadeInUp" data-wow-delay="900ms">
                <span class="title">Popular Searches : </span>
                <a href="#">Designer</a>,
                <a href="#">Developer</a>,
                <a href="#">Web</a>,
                <a href="#">IOS</a>,
                <a href="#">PHP</a>,
                <a href="#">Senior</a>,
                <a href="#">Engineer</a>,
              </div>
              <!-- End Popular Search -->
            </div>
          </div>

          <div class="image-column col-xl-5 col-lg-4 col-md-12">
            <div class="image-box">
              <figure class="main-image wow fadeIn anm" data-wow-delay="1200ms" data-speed-x="2"><img src="images/index-11/header/image.png" alt=""></figure>
              <!-- Info BLock One -->
              <div class="info_block_first job-block wow fadeIn anm" data-wow-delay="1500ms" data-speed-x="3" data-speed-y="3">
                <div class="inner-box">
                  <div class="content">
                    <span class="company-logo"><img src="images/resource/company-logo/1-1.png" alt=""></span>
                    <h4><a href="#">Software Engineer</a></h4>
                    <ul class="job-info">
                      <li><span class="icon flaticon-briefcase"></span> Segment</li>
                      <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                    </ul>
                    <ul class="job-other-info">
                      <li class="required">Urgent</li>
                      <li class="time">Full Time</li>
                    </ul>
                    <button class="bookmark-btn"><span class="flaticon-bookmark"></span></button>
                  </div>
                </div>
              </div>

              <!-- Info BLock Three -->
              <div class="info_block_three wow fadeIn anm" data-wow-delay="2100ms" data-speed-x="3" data-speed-y="2">
                <span class="icon flaticon-briefcase"></span>
                <p>Creative Agency</p>
                <span class="sub-text">Startup</span>
                <span class="right_icon fa fa-check"></span>
              </div>

              <!-- Info BLock Four -->
              <div class="info_block_four wow fadeIn anm" data-wow-delay="2400ms" data-speed-x="2" data-speed-y="3">
                <span class="icon flaticon-file"></span>
                <div class="inner">
                  <p>Upload Your CV</p>
                  <span class="sub-text">It only takes a few seconds</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Section-->



  </div><!-- End Page Wrapper -->


  <script src="/javascripts//jquery.js"></script>
  <script src="/javascripts//popper.min.js"></script>
  <script src="/javascripts//chosen.min.js"></script>
  <script src="/javascripts//bootstrap.min.js"></script>
  <script src="/javascripts//jquery.fancybox.js"></script>
  <script src="/javascripts//jquery.modal.min.js"></script>
  <script src="/javascripts//mmenu.polyfills.js"></script>
  <script src="/javascripts//mmenu.js"></script>
  <script src="/javascripts//appear.js"></script>
  <script src="/javascripts//anm.min.js"></script>
  <script src="/javascripts//ScrollMagic.min.js"></script>
  <script src="/javascripts//rellax.min.js"></script>
  <script src="/javascripts//owl.js"></script>
  <script src="/javascripts//wow.js"></script>
  <script src="/javascripts//script.js"></script>

</body>


</html>